<!-- ComboChart generated in R 3.2.0 by googleVis 0.5.8 package -->
<!-- Wed Jul  1 04:16:34 2015 -->


<!-- jsHeader -->
<script type="text/javascript">
 
// jsData 
function gvisDataComboChartID581a5c102d52 () {
var data = new google.visualization.DataTable();
var datajson =
[
 [
 "0",
22,
84.3167038 
],
[
 "1",
39,
138.1260071 
],
[
 "2",
48,
160.4440002 
],
[
 "3",
48,
188.7720032 
],
[
 "4",
42,
174.3789978 
],
[
 "5",
45,
182 
],
[
 "6",
47,
187.9600067 
],
[
 "7",
48,
188.7030029 
],
[
 "8",
45,
176.8589935 
],
[
 "9",
42,
164.3760071 
],
[
 "10",
38,
155.6329956 
],
[
 "11",
37,
148 
],
[
 "12",
37,
148 
],
[
 "13",
37,
146.5549927 
],
[
 "14",
36,
142.0200043 
],
[
 "15",
35,
141.4210052 
],
[
 "16",
34,
136.9589996 
],
[
 "17",
34,
137 
],
[
 "18",
35,
140 
],
[
 "19",
35,
140 
],
[
 "20",
35,
140 
],
[
 "21",
35,
140 
],
[
 "22",
35,
140.2769928 
],
[
 "23",
35,
139.3159943 
],
[
 "24",
35,
140 
],
[
 "25",
35,
140 
],
[
 "26",
35,
138 
],
[
 "27",
26,
110.1350021 
],
[
 "28",
26,
104 
],
[
 "29",
26,
102.3590012 
],
[
 "30",
23,
92 
],
[
 "31",
23,
92.73100281 
],
[
 "32",
23,
92 
],
[
 "33",
23,
92 
],
[
 "34",
23,
92 
],
[
 "35",
23,
92 
],
[
 "36",
23,
92 
],
[
 "37",
23,
92 
],
[
 "38",
23,
92 
],
[
 "39",
23,
92 
],
[
 "40",
23,
92 
],
[
 "41",
22,
88.75299835 
],
[
 "42",
22,
88 
],
[
 "43",
22,
88.65000153 
],
[
 "44",
23,
92 
],
[
 "45",
23,
92 
],
[
 "46",
25,
100 
],
[
 "47",
25,
100.8639984 
],
[
 "48",
26,
94 
],
[
 "49",
26,
107.6100006 
],
[
 "50",
26,
104 
],
[
 "51",
26,
104 
],
[
 "52",
27,
106.9599991 
],
[
 "53",
24,
97.96099854 
],
[
 "54",
24,
96 
],
[
 "55",
23,
94.14099884 
],
[
 "56",
24,
97.65000153 
],
[
 "57",
25,
100 
],
[
 "58",
25,
100 
],
[
 "59",
25,
100 
],
[
 "60",
26,
103.8769989 
],
[
 "61",
26,
104 
],
[
 "62",
26,
104.7009964 
],
[
 "63",
26,
104 
],
[
 "64",
26,
103.8479996 
],
[
 "65",
26,
106.8880005 
],
[
 "66",
29,
115.4690018 
],
[
 "67",
29,
113.6169968 
],
[
 "68",
27,
108 
],
[
 "69",
29,
114.8420029 
],
[
 "70",
29,
116 
],
[
 "71",
30,
120 
],
[
 "72",
29,
116.177002 
],
[
 "73",
28,
100 
],
[
 "74",
28,
112 
],
[
 "75",
28,
114 
],
[
 "76",
27,
104 
],
[
 "77",
26,
104 
],
[
 "78",
26,
104 
],
[
 "79",
26,
104 
],
[
 "80",
26,
100.302002 
],
[
 "81",
24,
94.98699951 
],
[
 "82",
23,
92 
],
[
 "83",
23,
92 
],
[
 "84",
23,
92 
],
[
 "85",
24,
90 
],
[
 "86",
25,
100.927002 
],
[
 "87",
25,
96.10199738 
],
[
 "88",
23,
92 
],
[
 "89",
23,
92 
],
[
 "90",
23,
92 
],
[
 "91",
23,
92 
],
[
 "92",
23,
92 
],
[
 "93",
23,
92 
],
[
 "94",
23,
92 
],
[
 "95",
24,
95 
],
[
 "96",
23,
88 
],
[
 "97",
23,
91.02100372 
],
[
 "98",
22,
88 
],
[
 "99",
22,
88 
],
[
 "100",
22,
88 
],
[
 "101",
22,
88 
],
[
 "102",
22,
88 
],
[
 "103",
22,
87 
],
[
 "104",
21,
84 
],
[
 "105",
21,
84.36100006 
],
[
 "106",
21,
83.89700317 
],
[
 "107",
20,
80 
],
[
 "108",
22,
86 
],
[
 "109",
22,
88 
],
[
 "110",
22,
88 
],
[
 "111",
22,
88 
],
[
 "112",
22,
88 
],
[
 "113",
22,
88 
],
[
 "114",
22,
91 
],
[
 "115",
24,
96.94000244 
],
[
 "116",
24,
96 
],
[
 "117",
24,
96 
],
[
 "118",
26,
101.5749969 
],
[
 "119",
25,
99.43000031 
],
[
 "120",
26,
104 
],
[
 "121",
27,
107.9150009 
],
[
 "122",
27,
104 
],
[
 "123",
26,
104.7259979 
],
[
 "124",
25,
100.8740005 
],
[
 "125",
22,
88 
],
[
 "126",
22,
88 
],
[
 "127",
22,
88 
],
[
 "128",
22,
88 
],
[
 "129",
22,
86.41799927 
],
[
 "130",
21,
84 
],
[
 "131",
21,
82.70500183 
],
[
 "132",
19,
79.40599823 
],
[
 "133",
19,
76 
],
[
 "134",
19,
76 
],
[
 "135",
19,
76.31999969 
],
[
 "136",
19,
76 
],
[
 "137",
19,
77 
],
[
 "138",
20,
80.94499969 
],
[
 "139",
21,
84 
],
[
 "140",
22,
88 
],
[
 "141",
22,
88 
],
[
 "142",
22,
88 
],
[
 "143",
23,
85.26000214 
],
[
 "144",
22,
86.96099854 
],
[
 "145",
21,
75.53800201 
],
[
 "146",
0,
19.51099968 
] 
];
data.addColumn('string','videoFrame');
data.addColumn('number','No_Of_Video_Accesses');
data.addColumn('number','Time_Spent');
data.addRows(datajson);
return(data);
}
 
// jsDrawChart
function drawChartComboChartID581a5c102d52() {
var data = gvisDataComboChartID581a5c102d52();
var options = {};
options["allowHtml"] = true;
options["seriesType"] = "steppedArea";
options["series"] = {1: {type:"line",targetAxisIndex: 1}};
options["hAxis"] = {title: 'Video Frames', titleTextStyle: {color: '#FF0000'}};
options["title"] = "Video Difficulty Analysis";
options["height"] = "450";
options["width"] = "790";


    var chart = new google.visualization.ComboChart(
    document.getElementById('ComboChartID581a5c102d52')
    );
    chart.draw(data,options);
    

}
  
 
// jsDisplayChart
(function() {
var pkgs = window.__gvisPackages = window.__gvisPackages || [];
var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
var chartid = "corechart";
  
// Manually see if chartid is in pkgs (not all browsers support Array.indexOf)
var i, newPackage = true;
for (i = 0; newPackage && i < pkgs.length; i++) {
if (pkgs[i] === chartid)
newPackage = false;
}
if (newPackage)
  pkgs.push(chartid);
  
// Add the drawChart function to the global list of callbacks
callbacks.push(drawChartComboChartID581a5c102d52);
})();
function displayChartComboChartID581a5c102d52() {
  var pkgs = window.__gvisPackages = window.__gvisPackages || [];
  var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
  window.clearTimeout(window.__gvisLoad);
  // The timeout is set to 100 because otherwise the container div we are
  // targeting might not be part of the document yet
  window.__gvisLoad = setTimeout(function() {
  var pkgCount = pkgs.length;
  google.load("visualization", "1", { packages:pkgs, callback: function() {
  if (pkgCount != pkgs.length) {
  // Race condition where another setTimeout call snuck in after us; if
  // that call added a package, we must not shift its callback
  return;
}
while (callbacks.length > 0)
callbacks.shift()();
} });
}, 100);
}
 
// jsFooter
</script>
 
<!-- jsChart -->  
<script type="text/javascript" src="https://www.google.com/jsapi?callback=displayChartComboChartID581a5c102d52"></script>
 
<!-- divChart -->
  
<div id="ComboChartID581a5c102d52" 
  style="width: 790; height: 450;">
</div>
