<!-- Table generated in R 3.2.0 by googleVis 0.5.8 package -->
<!-- Wed Jul  1 04:16:34 2015 -->


<!-- jsHeader -->
<script type="text/javascript">
 
// jsData 
function gvisDataTableID581a28a12572 () {
var data = new google.visualization.DataTable();
var datajson =
[
 [
 "CS101.1x",
"Introduction",
0,
22,
84.3167038 
],
[
 "CS101.1x",
"Introduction",
1,
39,
138.1260071 
],
[
 "CS101.1x",
"Introduction",
2,
48,
160.4440002 
],
[
 "CS101.1x",
"Introduction",
3,
48,
188.7720032 
],
[
 "CS101.1x",
"Introduction",
4,
42,
174.3789978 
],
[
 "CS101.1x",
"Introduction",
5,
45,
182 
],
[
 "CS101.1x",
"Introduction",
6,
47,
187.9600067 
],
[
 "CS101.1x",
"Introduction",
7,
48,
188.7030029 
],
[
 "CS101.1x",
"Introduction",
8,
45,
176.8589935 
],
[
 "CS101.1x",
"Introduction",
9,
42,
164.3760071 
],
[
 "CS101.1x",
"Introduction",
10,
38,
155.6329956 
],
[
 "CS101.1x",
"Introduction",
11,
37,
148 
],
[
 "CS101.1x",
"Introduction",
12,
37,
148 
],
[
 "CS101.1x",
"Introduction",
13,
37,
146.5549927 
],
[
 "CS101.1x",
"Introduction",
14,
36,
142.0200043 
],
[
 "CS101.1x",
"Introduction",
15,
35,
141.4210052 
],
[
 "CS101.1x",
"Introduction",
16,
34,
136.9589996 
],
[
 "CS101.1x",
"Introduction",
17,
34,
137 
],
[
 "CS101.1x",
"Introduction",
18,
35,
140 
],
[
 "CS101.1x",
"Introduction",
19,
35,
140 
],
[
 "CS101.1x",
"Introduction",
20,
35,
140 
],
[
 "CS101.1x",
"Introduction",
21,
35,
140 
],
[
 "CS101.1x",
"Introduction",
22,
35,
140.2769928 
],
[
 "CS101.1x",
"Introduction",
23,
35,
139.3159943 
],
[
 "CS101.1x",
"Introduction",
24,
35,
140 
],
[
 "CS101.1x",
"Introduction",
25,
35,
140 
],
[
 "CS101.1x",
"Introduction",
26,
35,
138 
],
[
 "CS101.1x",
"Introduction",
27,
26,
110.1350021 
],
[
 "CS101.1x",
"Introduction",
28,
26,
104 
],
[
 "CS101.1x",
"Introduction",
29,
26,
102.3590012 
],
[
 "CS101.1x",
"Introduction",
30,
23,
92 
],
[
 "CS101.1x",
"Introduction",
31,
23,
92.73100281 
],
[
 "CS101.1x",
"Introduction",
32,
23,
92 
],
[
 "CS101.1x",
"Introduction",
33,
23,
92 
],
[
 "CS101.1x",
"Introduction",
34,
23,
92 
],
[
 "CS101.1x",
"Introduction",
35,
23,
92 
],
[
 "CS101.1x",
"Introduction",
36,
23,
92 
],
[
 "CS101.1x",
"Introduction",
37,
23,
92 
],
[
 "CS101.1x",
"Introduction",
38,
23,
92 
],
[
 "CS101.1x",
"Introduction",
39,
23,
92 
],
[
 "CS101.1x",
"Introduction",
40,
23,
92 
],
[
 "CS101.1x",
"Introduction",
41,
22,
88.75299835 
],
[
 "CS101.1x",
"Introduction",
42,
22,
88 
],
[
 "CS101.1x",
"Introduction",
43,
22,
88.65000153 
],
[
 "CS101.1x",
"Introduction",
44,
23,
92 
],
[
 "CS101.1x",
"Introduction",
45,
23,
92 
],
[
 "CS101.1x",
"Introduction",
46,
25,
100 
],
[
 "CS101.1x",
"Introduction",
47,
25,
100.8639984 
],
[
 "CS101.1x",
"Introduction",
48,
26,
94 
],
[
 "CS101.1x",
"Introduction",
49,
26,
107.6100006 
],
[
 "CS101.1x",
"Introduction",
50,
26,
104 
],
[
 "CS101.1x",
"Introduction",
51,
26,
104 
],
[
 "CS101.1x",
"Introduction",
52,
27,
106.9599991 
],
[
 "CS101.1x",
"Introduction",
53,
24,
97.96099854 
],
[
 "CS101.1x",
"Introduction",
54,
24,
96 
],
[
 "CS101.1x",
"Introduction",
55,
23,
94.14099884 
],
[
 "CS101.1x",
"Introduction",
56,
24,
97.65000153 
],
[
 "CS101.1x",
"Introduction",
57,
25,
100 
],
[
 "CS101.1x",
"Introduction",
58,
25,
100 
],
[
 "CS101.1x",
"Introduction",
59,
25,
100 
],
[
 "CS101.1x",
"Introduction",
60,
26,
103.8769989 
],
[
 "CS101.1x",
"Introduction",
61,
26,
104 
],
[
 "CS101.1x",
"Introduction",
62,
26,
104.7009964 
],
[
 "CS101.1x",
"Introduction",
63,
26,
104 
],
[
 "CS101.1x",
"Introduction",
64,
26,
103.8479996 
],
[
 "CS101.1x",
"Introduction",
65,
26,
106.8880005 
],
[
 "CS101.1x",
"Introduction",
66,
29,
115.4690018 
],
[
 "CS101.1x",
"Introduction",
67,
29,
113.6169968 
],
[
 "CS101.1x",
"Introduction",
68,
27,
108 
],
[
 "CS101.1x",
"Introduction",
69,
29,
114.8420029 
],
[
 "CS101.1x",
"Introduction",
70,
29,
116 
],
[
 "CS101.1x",
"Introduction",
71,
30,
120 
],
[
 "CS101.1x",
"Introduction",
72,
29,
116.177002 
],
[
 "CS101.1x",
"Introduction",
73,
28,
100 
],
[
 "CS101.1x",
"Introduction",
74,
28,
112 
],
[
 "CS101.1x",
"Introduction",
75,
28,
114 
],
[
 "CS101.1x",
"Introduction",
76,
27,
104 
],
[
 "CS101.1x",
"Introduction",
77,
26,
104 
],
[
 "CS101.1x",
"Introduction",
78,
26,
104 
],
[
 "CS101.1x",
"Introduction",
79,
26,
104 
],
[
 "CS101.1x",
"Introduction",
80,
26,
100.302002 
],
[
 "CS101.1x",
"Introduction",
81,
24,
94.98699951 
],
[
 "CS101.1x",
"Introduction",
82,
23,
92 
],
[
 "CS101.1x",
"Introduction",
83,
23,
92 
],
[
 "CS101.1x",
"Introduction",
84,
23,
92 
],
[
 "CS101.1x",
"Introduction",
85,
24,
90 
],
[
 "CS101.1x",
"Introduction",
86,
25,
100.927002 
],
[
 "CS101.1x",
"Introduction",
87,
25,
96.10199738 
],
[
 "CS101.1x",
"Introduction",
88,
23,
92 
],
[
 "CS101.1x",
"Introduction",
89,
23,
92 
],
[
 "CS101.1x",
"Introduction",
90,
23,
92 
],
[
 "CS101.1x",
"Introduction",
91,
23,
92 
],
[
 "CS101.1x",
"Introduction",
92,
23,
92 
],
[
 "CS101.1x",
"Introduction",
93,
23,
92 
],
[
 "CS101.1x",
"Introduction",
94,
23,
92 
],
[
 "CS101.1x",
"Introduction",
95,
24,
95 
],
[
 "CS101.1x",
"Introduction",
96,
23,
88 
],
[
 "CS101.1x",
"Introduction",
97,
23,
91.02100372 
],
[
 "CS101.1x",
"Introduction",
98,
22,
88 
],
[
 "CS101.1x",
"Introduction",
99,
22,
88 
],
[
 "CS101.1x",
"Introduction",
100,
22,
88 
],
[
 "CS101.1x",
"Introduction",
101,
22,
88 
],
[
 "CS101.1x",
"Introduction",
102,
22,
88 
],
[
 "CS101.1x",
"Introduction",
103,
22,
87 
],
[
 "CS101.1x",
"Introduction",
104,
21,
84 
],
[
 "CS101.1x",
"Introduction",
105,
21,
84.36100006 
],
[
 "CS101.1x",
"Introduction",
106,
21,
83.89700317 
],
[
 "CS101.1x",
"Introduction",
107,
20,
80 
],
[
 "CS101.1x",
"Introduction",
108,
22,
86 
],
[
 "CS101.1x",
"Introduction",
109,
22,
88 
],
[
 "CS101.1x",
"Introduction",
110,
22,
88 
],
[
 "CS101.1x",
"Introduction",
111,
22,
88 
],
[
 "CS101.1x",
"Introduction",
112,
22,
88 
],
[
 "CS101.1x",
"Introduction",
113,
22,
88 
],
[
 "CS101.1x",
"Introduction",
114,
22,
91 
],
[
 "CS101.1x",
"Introduction",
115,
24,
96.94000244 
],
[
 "CS101.1x",
"Introduction",
116,
24,
96 
],
[
 "CS101.1x",
"Introduction",
117,
24,
96 
],
[
 "CS101.1x",
"Introduction",
118,
26,
101.5749969 
],
[
 "CS101.1x",
"Introduction",
119,
25,
99.43000031 
],
[
 "CS101.1x",
"Introduction",
120,
26,
104 
],
[
 "CS101.1x",
"Introduction",
121,
27,
107.9150009 
],
[
 "CS101.1x",
"Introduction",
122,
27,
104 
],
[
 "CS101.1x",
"Introduction",
123,
26,
104.7259979 
],
[
 "CS101.1x",
"Introduction",
124,
25,
100.8740005 
],
[
 "CS101.1x",
"Introduction",
125,
22,
88 
],
[
 "CS101.1x",
"Introduction",
126,
22,
88 
],
[
 "CS101.1x",
"Introduction",
127,
22,
88 
],
[
 "CS101.1x",
"Introduction",
128,
22,
88 
],
[
 "CS101.1x",
"Introduction",
129,
22,
86.41799927 
],
[
 "CS101.1x",
"Introduction",
130,
21,
84 
],
[
 "CS101.1x",
"Introduction",
131,
21,
82.70500183 
],
[
 "CS101.1x",
"Introduction",
132,
19,
79.40599823 
],
[
 "CS101.1x",
"Introduction",
133,
19,
76 
],
[
 "CS101.1x",
"Introduction",
134,
19,
76 
],
[
 "CS101.1x",
"Introduction",
135,
19,
76.31999969 
],
[
 "CS101.1x",
"Introduction",
136,
19,
76 
],
[
 "CS101.1x",
"Introduction",
137,
19,
77 
],
[
 "CS101.1x",
"Introduction",
138,
20,
80.94499969 
],
[
 "CS101.1x",
"Introduction",
139,
21,
84 
],
[
 "CS101.1x",
"Introduction",
140,
22,
88 
],
[
 "CS101.1x",
"Introduction",
141,
22,
88 
],
[
 "CS101.1x",
"Introduction",
142,
22,
88 
],
[
 "CS101.1x",
"Introduction",
143,
23,
85.26000214 
],
[
 "CS101.1x",
"Introduction",
144,
22,
86.96099854 
],
[
 "CS101.1x",
"Introduction",
145,
21,
75.53800201 
],
[
 "CS101.1x",
"Introduction",
146,
0,
19.51099968 
] 
];
data.addColumn('string','courseName');
data.addColumn('string','videoTitle');
data.addColumn('number','videoFrame');
data.addColumn('number','No_Of_Video_Accesses');
data.addColumn('number','Time_Spent');
data.addRows(datajson);
return(data);
}
 
// jsDrawChart
function drawChartTableID581a28a12572() {
var data = gvisDataTableID581a28a12572();
var options = {};
options["allowHtml"] = true;
options["width"] =    300;
options["height"] =    700;


    var chart = new google.visualization.Table(
    document.getElementById('TableID581a28a12572')
    );
    chart.draw(data,options);
    

}
  
 
// jsDisplayChart
(function() {
var pkgs = window.__gvisPackages = window.__gvisPackages || [];
var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
var chartid = "table";
  
// Manually see if chartid is in pkgs (not all browsers support Array.indexOf)
var i, newPackage = true;
for (i = 0; newPackage && i < pkgs.length; i++) {
if (pkgs[i] === chartid)
newPackage = false;
}
if (newPackage)
  pkgs.push(chartid);
  
// Add the drawChart function to the global list of callbacks
callbacks.push(drawChartTableID581a28a12572);
})();
function displayChartTableID581a28a12572() {
  var pkgs = window.__gvisPackages = window.__gvisPackages || [];
  var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
  window.clearTimeout(window.__gvisLoad);
  // The timeout is set to 100 because otherwise the container div we are
  // targeting might not be part of the document yet
  window.__gvisLoad = setTimeout(function() {
  var pkgCount = pkgs.length;
  google.load("visualization", "1", { packages:pkgs, callback: function() {
  if (pkgCount != pkgs.length) {
  // Race condition where another setTimeout call snuck in after us; if
  // that call added a package, we must not shift its callback
  return;
}
while (callbacks.length > 0)
callbacks.shift()();
} });
}, 100);
}
 
// jsFooter
</script>
 
<!-- jsChart -->  
<script type="text/javascript" src="https://www.google.com/jsapi?callback=displayChartTableID581a28a12572"></script>
 
<!-- divChart -->
  
<div id="TableID581a28a12572" 
  style="width: 300; height: 700;">
</div>
